header {
  background-color: rgb(26, 30, 31);
  color: rgb(244, 244, 244);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  background-color: rgba(34, 34, 34, 0.95);
  display: flex;
  align-items: center;
  z-index: 20;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
  padding: 0 30px;
}

.header-left-section {
  width: 18rem;
  /* height: 4rem; */
  /* margin-right: auto; */
}

.header-right-section {
  width: 45rem;
  /* margin-left: auto; */
}

.nav-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .active,
header a:hover {
  color: rgb(0, 163, 224);
}

.burger-menu {
  width: 26px;
  height: 21px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  display: none;
  z-index: 9999;
  position: relative;
}

.first-bar,
.second-bar,
.third-bar {
  width: 13px;
  height: 3px;
  background-color: rgb(219, 219, 219);
  border-radius: 1.5px;
  transition: transform 0.3s;
}

.second-bar {
  width: 26px
}

.first-bar {
  align-self: flex-start;
}

.third-bar {
  align-self: flex-end;
}

.burger-menu-open .first-bar{
  transform: rotate(-45deg) translate(5px, 11px);
}

.burger-menu-open .second-bar{
  transform: rotate(45deg);
}

.burger-menu-open .third-bar{
  transform: rotate(-45deg) translate(-4px, -11px);
}

.nav-sidebar {
  padding-top: 7rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(34 , 34, 34);
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(100%);
  transition: all 400ms;
}

.sidebars-outside-shade {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
}

.displayed-nav-sidebar {
  transform: translateX(0);
}

.nav-sidebar li {
  min-height: 5rem;
}