h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
  max-width: 95rem;
  margin-block: 4rem;
}

h3 {
  font-size: 2.4rem;
  margin-block: 3rem 3rem;
  font-weight: 400;
  color: rgb(219, 219, 219);
}

h4 {
  font-size: 1.8rem;
  margin-block: 1.5rem;
  font-weight: 400;
  line-height: 1.5em;
}

.heading-section {
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  height: 35rem;
  background-image: url('/images/main-cover-img.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-content {
  width: 98rem;
  margin: 0 auto;
}

.description-section {
  background-color: rgb(43, 43, 43);
  line-height: 2.5em;
  padding-bottom: 4rem;
}

.additional-info-link {
  font-size: 2rem;
  color: rgb(0, 174, 243);
  transition: 400ms;
}

.additional-info-link:hover {
  color: rgb(173, 173, 173);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  justify-content: center;
  row-gap: 2rem;
  column-gap: 4rem;
  padding-block: 2rem;
}

.container-img {
  width: 100%;
  height: 150px;
}

.container-img>img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.course-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 40rem;
  border: 1px solid rgba(85, 85, 85, 1);
  border-radius: .6rem;
  overflow: hidden;
  justify-self: center;
}

.course-description {
  width: 25rem;
  margin: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-description p {
  font-size: 1.5rem;
  padding-block: 1rem;
}

.more-info-section {
  color: rgb(0, 174, 239);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.more-info-link {
  margin-left: 1rem;
  transition: 300ms;
}

.more-info-link:hover {
  opacity: 0.7;
}

.slide-container {
  min-height: 35rem;
  background-color: rgb(43, 43, 43);
  position: relative;
}

.slide-content {
  display: flex;
  justify-content: space-between;
}

.slide {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  opacity: 100;
  transition: all 2s;
}

.slide-navigation-component {
  display: flex;
  gap: 4px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-navigation-component>input {
  appearance: none;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  margin-inline: .5rem;
  background-color: rgba(224, 224, 224, 0.719);
  cursor: pointer;
}

.slide-navigation-component>input:checked {
  background-color: white;
}

.slide-hide {
  /* display: none; */
  opacity: 0;
}

.slide.third-slide {
  justify-content: center;
}

.slide-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.slide-arrows button {
  width: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 100px;
}

.slide-arrows button svg {
  fill: white;
  stroke: white;
  stroke-width: 1px;
}

.arrow-right {
  transform: rotate(180deg);
  right: 0;
  position: absolute;
}

.faq-section {
  padding: 2rem;
}

.faq-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qa-wrapper {
  border-bottom: 1px solid rgb(53, 49, 49);
  overflow: hidden;
}

.question-row {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  margin-block: 2rem;
  cursor: pointer;
}

.qa-icon {
  transition: all 0.3s;
}

.qa-icon-opened {
  transform: rotate(180deg);
}

.answer-block {
  font-size: 1.5rem;
  line-height: 2em;
  height: 0px;
  width: 98%;
  transition: all 0.3s;
}

.answer-block-visible {
  padding: 0 0 1rem;
  margin: 0 0 2rem;
  visibility: visible;
}

.answer-block ul,
.answer-block p {
  margin-block: 2rem;
  width: 98%;
  margin-left: auto;
}

.bold-span {
  font-weight: bold;
}

@media only screen and (max-width: 980px) {
    .slide {
      flex-direction: column; 
      gap: 30px;
    } 

    .slide-container {
      min-height: 40rem;
    }

    .slide-navigation-component {
      bottom: 35px;
    }

    .slide-arrows button {
      margin-inline: 20px;
    }

    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 780px) {
    .heading-content h1{
      font-size: 24px;
    } 

    .description-section h2{
      font-size: 24px;
      margin-block: 0;
    } 

    .courses-list h3 {
      margin-top: 0;
    }

    .faq-heading h3, .faq-heading a{
      font-size: 16px;
    }

    .nav-pages {
      display: none;
    }

    .header-right-section {
      width: max-content;
    }

    .burger-menu {
      display: flex;
    }
}
